<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.17.50.45:30003/fileserver/filecontrol/downfile/22f7d6972d3d4e21afdea2dd657fc370?dpdowncode=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbXBpZCI6ImVhNTY3NzJlOGNkZjQzYzZhNzA5YjIzNTBkZTZmYmU1IiwidXNlcl9uYW1lIjoid3VqYyIsInBsYXRyb2xlIjoiQURNSU4iLCJvcGVyaWQiOiIxMTExMTExMTExMTEiLCJhdXRob3JpdGllcyI6WyJVU0VSIiwiQURNSU4iXSwiY2xpZW50X2lkIjoic2VvY2xvdWR3ZWIiLCJvcGVyY29kZSI6Ind1amMiLCJvcGVybmFtZSI6IuWQtOaVrOe6ryIsInNjb3BlIjpbIndlYiJdLCJ0ZW5hbnRpZCI6ImRlZmF1bHQiLCJvcGVydGhlbWUiOiIiLCJleHAiOjE1NjE3MTc4NTAsImp0aSI6IjI5ODY2NzZkLTY5NTAtNDU5ZC05NzQ4LWRiODA4OWNlNWExNSIsInVzZXJuYW1lIjoid3VqYyJ9.WMQnETjLZdE6_F6x4wT41tGWpkdPZUZbIUKm5ijsldc</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/9964858/DFAC-for-iOS/master/57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/9964858/DFAC-for-iOS/master/512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.dawnpro.dfac.ios</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>惠悦</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
